@font-face {
    font-family:Poppins ;
    src: url(resources/fonts/Poppins/);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins';
}

html, body {
    height: 100%;
    width: 100%;
}

#nav{
    height: 7vw;
    width: 100%;
    display: flex;
    /*background-color: #ffe5e5;*/
    align-items: center;
    padding: 0 50px;
    /*gap: 5vw;*/
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height: 10vw;
    margin-left: 1vw;
}

#nav h3{
    font-size: 1.3vw;
    margin-top: 0.6vw;
    margin-left: 5vw;
    text-align: right;
    color: #304b2c;
    font-family: 'Poppins';
}

#img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: fixed;
    z-index: -3;
}