@font-face {
    font-family:Poppins ;
    src: url(resources/fonts/Poppins/);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins';
}

html, body {
    height: 100%;
    width: 100%;
}

#nav{
    height: 7vw;
    width: 100%;
    display: flex;
    /*background-color: #ffe5e5;*/
    align-items: center;
    padding: 0 50px;
    /*gap: 5vw;*/
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
    
}

#nav img{
    height: 18vw;
    margin-left: -2vw;
    margin-right: 6vw;
}

#nav h3{
    font-size: 1.3vw;
    margin-top: 0.7vw;
    margin-left: 5vw;
    text-align: right;
    color: #304b2c;
    font-family: 'Poppins';
}

#img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: fixed;
    z-index: -3;
}

#main{
    position: relative;
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 5vw;
    color: #f3fde8;
    position: relative;
}

#page1 p {
    font-size: 3vh;
    color: black;
    font-weight: 500;
    width: 40%;
}

#page2{
    height: 110vh;
    width: 100%;
}

#page2 h1{
    text-align: center;
    font-size: 3vw;
    color: #000;
}

#page2 img{
    height: 20vw;
    margin-left: 34vw;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

#page2 p{
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.animation{
    cursor: pointer;
}
#nav h3:hover{
    color: #3e6639;
}
.animation,.dropdown a,.dropbtn{
    display: inline-block;
    position: relative;
    color: #999da0;
    margin-bottom: 1px;
    font-family: 'Abril Fatface', serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
  }
  
.animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #034d21;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
  }
  
 .animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
#page3{
    height: 110vh;
    width: 100%;
    background-color: #a8df8e;
}

#page3 h1{
    text-align: center;
    font-size: 3vw;
    color: #000;
}

#page3 img{
    height: 20vw;
    margin-left: 34vw;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

#page3 p{
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

#page4{
    height: 90vh;
    width: 100%;
}

#page4 h1{
    text-align: center;
    font-size: 3vw;
    color: #000;
}

#page4 img{
    height: 20vw;
    margin-left: 34vw;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

#page4 p{
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

#hr1{
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: black;
    margin-bottom: 50px;
}

#page5{
    height: 110vh;
    width: 100%;   
}